.myProjects {
    grid-column: 2 / 11;
    grid-row: 6/7;
    padding: 1rem;
    background: rgba(187, 45, 184, 0.95);
    font-size: 1.25rem;
    line-height: 1.5;
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    /* margin-bottom: 350px; */
}