@import "../../assets/styles/variables";

.header {
  grid-column: 2 / 13;
  grid-row: 1 / 2;
  padding: 1rem 0 0 0;
  line-height: 1.5;
  min-height: 45rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  align-items: center;
  font-family: $font-primary;

  max-width: 160rem;
  margin: auto;

  @media only screen and (max-width: $bp-largest) {
    padding: 0;
  }

  &__container {
    grid-column: 1 / 9;
    grid-row: 1/2;

    outline-style: outset;
    outline-color: $dark-black;

    background: rgba(15, 15, 15, 0.95);

    border: 1px solid $gold;
    padding: 3rem;

    font-size: 1.25rem;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: auto;

    @media only screen and (max-width: $bp-largest-xl) {
      grid-column: 1 / 11;
    }

    @media only screen and (max-width: $bp-largest) {
      grid-column: 1 / 12;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 13;
    }

    @media only screen and (max-width: $bp-small) {
      align-items: center;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem;
    }
  }

  &__bigTitle {
    padding: 0.8rem 0;
    font-size: 8.5rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 4.5rem;
      color: $gold;
    }
  }

  &__mediumTitle {
    padding: 0.8rem 0;
    font-size: 2.85rem;

    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }
  }

  &__description {
    padding: 0.8rem 0;
    margin: 1.5rem 0 1.5rem 0;
    font-size: 2rem;
    width: 80%;

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      line-height: 1.8;
      font-size: 2.2rem;
      text-align: center;
    }
  }

  &__buttonContainer {
    margin: 2rem 0 1rem;

    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: 3rem;
    }
  }
}