
@import "../../assets/styles/variables";

.header {
  grid-column: 2 / 13;
  grid-row: 1 / 2;
  padding: 1rem 0 0  0;
  font-size: 1.25rem;
  line-height: 1.5;
  min-height: 30rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
  align-items: center;
  font-family: $font-primary;

  &__left {
    grid-column: 1 / 9;
    grid-row: 1/2;

    outline-style: outset;
    outline-color: $dark-black;

    background: rgba(15, 15, 15, 0.95);

    border: 1px solid $gold;
    padding: 3rem;

    font-size: 1.25rem;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: auto;

    &__bigTitle {
      padding: 0.8rem 0;
      font-size: 5.25rem;
    }

    &__mediumTitle {
      padding: 0.8rem 0;
      font-size: 1.85rem;
    }

    &__description {
      padding: 0.8rem 0;
      margin-bottom: 1.5rem;
    }
  }

  &__buttonCV:link,
  &__buttonCV:visited {
    background-color: $gold;
    color: $dark-blue;
    padding: 1.5rem 3rem;

    font-family: $font-display;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;

    transition: all 0.5s;
  }
}



  
