@import "../../../assets/styles/variables";

.techList {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
        margin: 0 0.5rem;
    }
}


.projectLinks {
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
        margin: 0 0.5rem;
    }

    img {
        width: 3rem;
        background-color: $gold;
        margin: 0 1rem;
    }
}