@import "../../../assets/styles/variables";

.controlPanel {
    list-style: none;
    display: flex;

    li {
        margin: 0 1rem;
    }

    @media only screen and (max-width: $bp-large) {
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    @media only screen and (max-width: $bp-medium) {
        li {
            margin: 1rem;
        }

        justify-content: center;
    }
}