@import "../../assets/styles/variables";

.certifications {
    grid-column: 3 / 11;
    grid-row: 9 / 10;
    padding: 1rem;
    background: rgba(15, 15, 15, 0.95);
    font-size: 1.25rem;
    line-height: 1.5;
  
    min-height: 35rem;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* margin-bottom: 350px; */

    outline-style: outset;
    outline-color: $dark-black;
    border: 1px solid $gold;


    &__image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}