.certifications {
    grid-column: 3 / 11;
    grid-row: 9 / 10;
    padding: 1rem;
    background: rgba(191, 20, 20, 0.95);
    font-size: 1.25rem;
    line-height: 1.5;
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    /* margin-bottom: 350px; */
}