@import "../../assets/styles/variables";

.experience {
    grid-column: 3 / 11;
    grid-row: 5/ 6;
    padding: 0rem 2rem 2rem 3rem;
    background: rgba(15, 15, 15, 0.95);
    font-size: 1.25rem;
    line-height: 1.5;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 6rem;

    min-height: 35rem;

    outline-style: outset;
    outline-color: $dark-black;
    border: 1px solid $gold;

    &__title {
        grid-column: 1 / 12;
        grid-row: 1 / 2;

        display: flex;
        align-self: center;
        justify-self: center;

    }

    &__jobsPort {
        grid-column: 1 / 10;
        grid-row: 2 / 3
    }

    &__jobsControl {
        grid-column: 10 / 12;
        grid-row: 2 / 3
    }

    &__buttonList {
        list-style: none;
    }
}