.experience {
    grid-column: 2 / 11;
    grid-row: 4/5;
    padding: 1rem;
    background: rgba(27, 190, 60, 0.95);
    font-size: 1.25rem;
    line-height: 1.5;
  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    /* margin-bottom: 350px; */
}