@import "../../assets/styles/variables.scss";

.goldButton {
    height: 4rem;
    width: 18rem;
    background-color: $light-gold;
    border: none;
    font-weight: 700;

    @media only screen and (max-width: $bp-medium) {
        height: 6rem;
        width: 20rem;
    }

    @media only screen and (max-width: $bp-smallest-xs) {
        height: 6rem;
        width: 18rem;
    }


    &:hover {
        background-color: $gold;
        transform: translateY(-2px);
    }

    &__chosen {
        background-color: $gold;
    }

}